*{
    padding:0px;
    
}
button{
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px 0px 0px ;
    background-color: gold;
}
.img{
    position: relative;
    display: block;
    padding: 7px 0 0 0;
    cursor: pointer;
    
}
.img:hover{
    filter: contrast(100);
}
.hh{
    font-family:"Segoe Script";
    font-size:30px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.hh:hover{
    color: indigo;
    text-decoration: underline;
}
.lgn{
    padding: 40px 17px 0px 0px;
}
.log1{
    border: none;
    font-size: 30px;
    font-family:"Comic Sans Ms";
    position: relative;
    width: auto;
    height: 75px;
    border-radius: 10px;
    cursor: pointer;
    background-color: maroon;
    color: whitesmoke;
    position: right;
}    
.log1:hover{
    background-color: tomato;
    color:white;
}
.panel{
    width: 100%;
    padding: 15px 0px 15px 0px;
    border: 2;
    background-color:greenyellow;
    opacity: 0.6;
    position: relative;
    color: blue;
    display:flex;
    justify-content: space-around;  
    
}
.drp_btn{
    font-size:25px;
    padding: 5px 25px;
    background-color: greenyellow;
    color:blue;
    border:none;
    cursor: pointer;
    font-family: 'calibri';
}    
.drp_btn:hover{
    background-color: black;
    border-radius: 5px;
    color:white
}
.drp_dn{
    position: relative;
    display: inline-block;      
}
.drp_dnc{
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(99,55,55,0.2);
  padding: 12px 16px;
  z-index: 1;
  width:auto;
  background-color:greenyellow;
  color:red;
  border: 1px;
  
}
.drp_dnc a{
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    font-size: 20px;
    
}
.drp_dnc a:hover{
    background-color: black;
    color:white;

}
.drp_dn:hover .drp_dnc{
    display: inline-block;
    visibility: visible;
}
.marquee1{
    background-color: aquamarine;
    color:red;
    width: 100%;
    height: auto;
    font-family: 'calibri';
    
}
.f1{
border:2;
width:100%;
height:auto;
background-color:#E4F9F5;
background-image: url(1.jpg);
font-family: 'comic sans ms';
background-size:cover;
background-repeat: no-repeat;
text-align: center;
justify-content: space-around;
font-size: 20px;
color: whitesmoke;
text-shadow: 1.5px 1.5px rgb(208, 14, 233);
margin-top: 0;
border-top: 0;
}

.f1 input,.f2 input{
    padding: 5px 0px 5px 5px;
    margin: 10 10 0 10;
    text-align: center;

}
.f2{
    border:2;
    width:100%;
    height:auto;
    background-color:#E4F9F5;
    background-image: url(2.jpg);
    font-family: 'comic sans ms';
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 1.5px 1.5px red;
}
.head1{
    font-family: "Segoe Script" ;
    font-size: 40px;
    text-align:center;
}
.rdo{
    font-size: 20px;
    text-align: center;
}

.calexp{
    background-color: #4CAF50;
    border: 2px solid red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 20px;
    width:50%;
    cursor: pointer;
}
.calexp:hover{
    background-color: red;
    color:white;
}
.table1{
    width:100%;
    text-align: center;
    color: whitesmoke;
    
}
.table2{
    color: white;
    text-shadow: 1.5px 1.5px black;
    font-family: 'comic sans ms';
    text-align: center;
}
.rr{
    visibility: hidden;
}
.rr12{
    visibility: visible;
}
.reg,.login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.flog{
    border:2;
    width:100%;
    height:auto;
    font-family: 'comic sans ms';
    text-align: center;    

}
.flog input{
    padding: 20px;
    margin: 10px;
    border-color: black ;
    border-style: double;
    border-radius: 10px;
    
    
}
.sub{
    background-color: #4CAF50;
    border: 2px solid red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 20px;
    width: 30%;

}
.log_main{
    background-color: burlywood;
    background-size: cover;
    text-shadow: 1.5px 1.5px whitesmoke;
    color: black;
    background-image: url(4.jpg);
}

.reg_main{
    background-color: hotpink;
    background-image: url(4.jpg);
    background-size: cover;
    text-shadow: 1.5px 1.5px black;
    color: gold;
    
    
}
.pre1{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.hr1{
    color: white ;
    border: solid 2px;
    border-radius: 60%;

}
.mhr{
    color: red;
    border: 2px;
    border-style: solid;

}
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    background-color: rgb(5, 57, 90);
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
}

